// Colors
$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

body {
	font: 500 16px "Figtree", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	background-color: $yellow;
}

.container {
	max-width: 384px;
	width: 90%;
	padding: 24px;
	border: 2px solid $black;
	background-color: white;
	border-radius: 20px;
	box-shadow: 18px 18px $black;

	.blog-image img {
		border-radius: 10px;
	}

	.blog-content {
		margin: 24px 0;
		display: flex;
		flex-direction: column;
		gap: 12px;

		.blog-category {
			background-color: $yellow;
			color: $black;
			align-self: flex-start;
			padding: 4px 12px;
			border-radius: 4px;
			font-weight: 800;
		}
		.blog-header {
			font-weight: 800;
			transition: color 300ms;

			&:hover {
				color: $yellow;
				cursor: pointer;
			}
		}

		.blog-description {
			color: $grey;
			line-height: 1.5;
		}
	}

	.author {
		display: flex;
		align-items: center;
		gap: 12px;

		& img {
			width: 32px;
			height: 32px;
		}

		&-name {
			font-weight: 800;
		}
	}
}

// Responsive
@media only screen and (max-width: 600px) {
	.container {
		box-shadow: 8px 8px $black;
	}
}
